<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ登録</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header><h1>ToODリスト</h1></header>
	<main>
	<h1>ユーザ新規登録</h1>
	
	<form action="/users/add" method="post">
		
		<ul th:if="${errorList}" class="error">
			<li th:each="error:${errorList}" th:text="${error}"></li>
		</ul>
		
		<div class="cp_iptxt mail"><input type="text" name="email" placeholder="メールアドレス" th:value="${email}"></div>
		<div class="cp_iptxt user"><input type="text" name="name" placeholder="ユーザ名" th:value="${name}"></div>
		<div class="cp_iptxt user"><input type="text" name="password" placeholder="パスワード"></div>
		<button>登録</button>
	</form>
	</main>
</body>
</html>