<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク登録</title>
</head>
<body>
	<header th:replace="header"></header>
	<h1>タスク登録</h1>
	<p style="color:red;" th:text="${error}"></p>
	<form action="/tasks/add" method="post">
		<table border="1">
			<tr>
				<th>タイトル</th>
				<td>
					<input type="text" name="title">
				</td>
			</tr>
			<tr>
				<th>期限</th>
				<td>
					<input type="date" name="closingdate">
				</td>
			</tr>
			<tr>
				<th>メモ</th>
				<td>
					<textarea name="memo"></textarea>
				</td>
			</tr>
			<tr>
				<th>優先度</th>
				<td>
					<select name="categoriesId">
						<option th:each="category:${categories}" th:text="${category.name}"></option>
					</select>
				</td>
			</tr>		
		</table>
		<input type="submit" value="登録">
	</form>
</body>
</html>