<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク更新</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<hr>
	<main>
	<h1 class="cp_h1title">タスク更新</h1>

	<form th:action="'/tasks/'+${task.id}+'/update' " method="post">
		<table border="1">
			<tr>
				<th>タスク</th>
				<td>
					<div class="cp_iptxta">
					<input class="ef" type="text" name="title" th:value="${task.title}">
					<label>タイトル</label>
					<span class="focus_line"></span>
					</div>
				</td>
			</tr>
			<tr>
				<th>期日</th>
				<td>
					<label>
					<input type="date" name="closingdate" th:value="${task.closingdate}">
					</label>
				</td>
			</tr>
			<tr>
				<th>メモ</th>
				<td>
					<textarea name="memo">[[${task.memo}]]</textarea>
				</td>
			</tr>
			<tr>
				<th>優先度</th>
				<td>
					<div class="cp_ipselect06">
					<select  class="cp_sl06" name="categoriesId">
						<option value="" hidden disabled selected></option>
						<option th:each="category:${categories}" th:text="${category.name}"></option>
					</select>
					<span class="cp_sl06_selectbar"></span>
					 <label class="cp_sl06_selectlabel">Choose</label>
					</div>
				</td>
			</tr>					
		</table>
		<div>
		<button class="cp_button09">更新</button>
		</div>
	</form>
	</main>
</body>

</html>