<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

	<header><h2>ToDOリスト</h2></header>
	
	<main>
	<h1>ログイン</h1>
	
	<form action="/login" method="post">
		
		<div class="cp_iptxt mail"><input type="text" name="email" placeholder="メールアドレス"></div>
		<div class="cp_iptxt user"><input type="text" name="password" placeholder="パスワード"></div>
		<button>ログイン</button>
		<br><spsn th:text="${message}" style="color:red;"></spsn>
	</form>
	<br>
	<a href="/users/new" class="cp_link">新規会員登録</a>
	</main>
</body>
</html>