<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>履歴</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<header th:replace="header"></header>
	<hr>
	<main>
	<h1 class="cp_h1title">履歴</h1>

	<table border="1">
		<tr>
			<th>タスク</th>
			<th>期限</th>
			<th>メモ</th>
			<th>タスクに戻す</th>
		</tr>
		<tr th:each="task:${tasks}">
			<td th:text="${task.title}"></td>
			<td th:text="${task.closingdate}"></td>
			<td th:utext="${task.memo}"></td>
			<td>
				<form th:action="'/tasks/'+${task.id}+'/ret'" method="post">
					<button class="cp_button07">タスクに戻す</button>
				</form>
			</td>

		</tr>
	</table>
	<div>
	<form action="/tasks/his" method="post">
		<button class="cp_button06">戻る</button>
	</form>
	</div>
	</main>
</body>

</html>