<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク一覧</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<main>
	<h1 class="cp_h1title">タスク一覧</h1>
	
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<form method="get" action="/tasks" class="search_container">
	  <input type="text" id="text2" name="keyword" th:value="${keyword}" size="25" placeholder="キーワード検索">
	  <input type="submit" value="&#xf002">
	</form>
	<br>
	
	<table border="1">
		<tr>
			<th>タスク</th>
			<th>期限</th>
			<th>メモ</th>
			<th>優先度</th>
			<th>更新</th>
			<th>削除</th>
			<th>完了</th>
		</tr>
		<tr th:each="task:${tasks}">
			<td th:text="${task.title}"></td>
			<td th:text="${task.closingdate}"></td>
			<td th:utext="${task.memo}"></td>
			<td th:text="${task.categoriesId}"></td>
			<td>
				<form th:action="'/tasks/'+${task.id}+'/update'" method="get">
					<button class="cp_button09">更新</button>
				</form>
			</td>
			<td>
				<form th:action="'/tasks/'+${task.id}+'/delete'" method="post">
					<button class="cp_button08">削除</button>
				</form>
			</td>
			<td>
				<form th:action="'/tasks/'+${task.id}+'/comp'" method="post">
					<button class="cp_button07">完了</button>
				</form>
			</td>
		</tr>
	</table>
	<a href="/tasks/add" class="cp_link">新規タスク作成</a><br>
	<br>
	<form action="/tasks/his" method="get">
		<button>履歴</button>
	</form>
	</main>
</body>
</html>